#jcconv
simplejson
Flask
Flask-Babel
Flask-cors
#pyusb # Only useful to make escpos work via usb (easier via win32raw)
pyserial
pif
Pillow
netifaces
pymtp
setuptools>45
pywin32
erpbrasil.driver.sat
git+https://github.com/akretion/py-xml-escpos.git@py3
#git+https://github.com/akretion/pypostelium.git@master
git+https://github.com/akretion/pyposdisplay.git@master
git+https://github.com/base4sistemas/satcfe.git@master
satcfe
git+https://github.com/erpbrasil/erpbrasil.driver.sat.git@master
satextrato
git+https://github.com/kmee/pyescpos.git@feature/windows-print
