setuptools>=34
wheel
#jcconv
simplejson
Flask
Flask-Babel
Flask-cors
pyusb>=1.0.0
pyserial
pif
Pillow>=2.0
netifaces
pycups
pymtp
git+https://github.com/erpbrasil/erpbrasil.driver.sat.git@master
git+https://github.com/akretion/py-xml-escpos.git@py3
# git+https://github.com/base4sistemas/satcfe.git@master
git+https://github.com/kmee/satcomum.git@master
git+https://github.com/kmee/satcfe.git@master
qrcode>=4.0
python-barcode>=0.9.1,<1
six
appdirs
PyYAML
argparse
argcomplete
future
python-escpos==3.0a9
pypostelium
pyposdisplay
satextrato
pip-shims
