setuptools>=34
wheel
#jcconv
simplejson
Flask
Flask-Babel
Flask-cors
pyusb
pyserial
pif
Pillow
netifaces
pycups
pymtp
git+https://github.com/erpbrasil/erpbrasil.driver.sat.git@master
git+https://github.com/akretion/py-xml-escpos.git@py3
# git+https://github.com/base4sistemas/satcfe.git@master
git+https://github.com/kmee/satcomum.git@master
git+https://github.com/kmee/satcfe.git@master
git+https://github.com/python-escpos/python-escpos.git@master
pypostelium
pyposdisplay
satextrato
